@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import 'normalize.css';

.container {
    max-width: 1620px;
    padding: 0 10px;
    margin: 0 auto;
}